---
import PersonalForm from "../components/AccountConfigPersonalForm";
import PasswordForm from "../components/AccountConfigPasswordForm";
import AuthenticationChecker from "../components/Authentication" 
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Config</title>
</head>
<body class="bg-slate-100 flex flex-col justify-center items-center p-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-4">Configuración de cuenta y seguridad</h1>
    <div class="w-2/3 bg-white rounded-lg shadow-md p-6 mb-4 items-center justify-center">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Datos personales</h1>
        <h1 class="text-gray-900 mb-4">Opciones para visualizar y editar información personal</h1>
        <PersonalForm client:load/>
    </div>
    <div class="w-2/3 bg-white rounded-lg shadow-md p-6 mb-4">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Cambio de contraseña</h1>
        <h1 class="text-gray-900 mb-4">Formulario para actualizar contraseña</h1>
        <PasswordForm client:load/>
    </div>
    <div class="w-2/3 bg-white rounded-lg shadow-md p-6 mb-4">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Registro de actividad</h1>
        <h1 class="text-gray-900 mb-4">Log de accesos y cambios realizados en el sistema</h1>
        <table class="table-auto w-full border border-gray-200">
            <thead>
                <tr>
                    <th class="px-4 py-2 bg-gray-100 border border-gray-200">Fecha</th>
                    <th class="px-4 py-2 bg-gray-100 border border-gray-200">Actividad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="px-4 py-2 border border-gray-200">01/04/2024 10:10 AM</td>
                    <td class="px-4 py-2 border border-gray-200">Cambio contraseña</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
<AuthenticationChecker client:only="react"/>