---
import PersonalForm from "../components/AccountRelated/AccountConfigPersonalForm";
import PasswordForm from "../components/AccountRelated/AccountConfigPasswordForm";
import AuthenticationChecker from "../components/Authentication" 
import ReturnButton from "../components/ReturnButton";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Config</title>
</head>
<body class="bg-slate-100 flex flex-col justify-center items-center p-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-4">Configuraci칩n de cuenta y seguridad</h1>
    <div class="w-2/3 bg-white rounded-lg shadow-md p-6 mb-4 items-center justify-center">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Datos personales</h1>
        <h1 class="text-gray-900 mb-4">Opciones para visualizar y editar informaci칩n personal</h1>
        <PersonalForm client:load/>
    </div>
    <div class="w-2/3 bg-white rounded-lg shadow-md p-6 mb-4">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Cambio de contrase침a</h1>
        <h1 class="text-gray-900 mb-4">Formulario para actualizar contrase침a</h1>
        <PasswordForm client:load/>
    </div>
    <ReturnButton title={'Regresar'} page={'ControlPanel'} client:load/>
</body>
</html>
<AuthenticationChecker client:only="react"/>