---
import AddPlanComponent from "../components/AddPlanComponent";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body class="flex justify-center items-center h-screen bg-slate-100"
        ><div class="w-1/2 bg-white rounded-lg shadow-md p-6">
            <h2 class="text-center text-2xl font-bold mb-4">Agregar Plan</h2>
            <AddPlanComponent client:load />
        </div>
    </body>
</html>
