---
import ControlPanelComponent from "../components/ControlPanelComponent";

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Panel de Control</title>
    </head>
    <body class="flex justify-center items-center h-screen bg-slate-100">
        <ControlPanelComponent client:load/>
    </body>
</html>
