---
import LoginForm from "../components/LoginForm.jsx";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOLTEC Login</title>
</head>
<body class="flex justify-center items-center h-screen bg-slate-100">
    <div class="w-3/12 bg-white rounded-lg shadow-md p-6">
        <h2 class="text-center text-2xl font-bold mb-4">SOLTEC</h2>
        <LoginForm client:load/>
    </div>
</body>
</html>