---
import LoginForm from "../components/LoginForm.jsx";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>SOLTEC Login</title>
	</head>
	<body class="h-screen flex items-center justify-center">
		<LoginForm/>
	</body>
</html>
