---
import PlanDetails from '../components/Plans/PlanDetails.jsx'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="flex justify-center items-center h-screen bg-slate-100">
    <div class="w-1/3 bg-white rounded-lg shadow-md p-6">
        <h1 class="text-left text-3xl font-bold my-4">Detalles del Plan</h1>
        <PlanDetails client:load/>
    </div>
</body>
</html>