---
import ProfessorForm from "../components/ProfessorForm"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Form</title>
</head>
<body>
    <body class="flex justify-center items-center h-screen bg-slate-100">
        <div class="w-3/4 bg-white rounded-lg shadow-md p-6">
            <h1 class="text-left text-3xl font-bold my-2">Formulario Detalles Profesor</h1>
            <ProfessorForm client:load/>
        </div>
    </body>
    
</body>
</html>